<a href="/">Hub</a>
            <a href="data1">Data 1</a>
            <a href="data2">Data 2 </a>50MSFT<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Close</th>
      <th>Returns</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2000-01-01</th>
      <td>30.694752</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2000-02-01</th>
      <td>28.029055</td>
      <td>0.913155</td>
    </tr>
    <tr>
      <th>2000-03-01</th>
      <td>33.321251</td>
      <td>1.188811</td>
    </tr>
    <tr>
      <th>2000-04-01</th>
      <td>21.874413</td>
      <td>0.656470</td>
    </tr>
    <tr>
      <th>2000-05-01</th>
      <td>19.620333</td>
      <td>0.896954</td>
    </tr>
    <tr>
      <th>2000-06-01</th>
      <td>25.088936</td>
      <td>1.278721</td>
    </tr>
    <tr>
      <th>2000-07-01</th>
      <td>21.894024</td>
      <td>0.872657</td>
    </tr>
    <tr>
      <th>2000-08-01</th>
      <td>21.894024</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>2000-09-01</th>
      <td>18.914713</td>
      <td>0.863921</td>
    </tr>
    <tr>
      <th>2000-10-01</th>
      <td>21.600014</td>
      <td>1.141969</td>
    </tr>
    <tr>
      <th>2000-11-01</th>
      <td>17.993479</td>
      <td>0.833031</td>
    </tr>
    <tr>
      <th>2000-12-01</th>
      <td>13.602913</td>
      <td>0.755991</td>
    </tr>
    <tr>
      <th>2001-01-01</th>
      <td>19.149921</td>
      <td>1.407781</td>
    </tr>
    <tr>
      <th>2001-02-01</th>
      <td>18.503090</td>
      <td>0.966223</td>
    </tr>
    <tr>
      <th>2001-03-01</th>
      <td>17.150644</td>
      <td>0.926907</td>
    </tr>
    <tr>
      <th>2001-04-01</th>
      <td>21.247204</td>
      <td>1.238857</td>
    </tr>
    <tr>
      <th>2001-05-01</th>
      <td>21.695667</td>
      <td>1.021107</td>
    </tr>
    <tr>
      <th>2001-06-01</th>
      <td>22.893665</td>
      <td>1.055218</td>
    </tr>
    <tr>
      <th>2001-07-01</th>
      <td>20.757963</td>
      <td>0.906712</td>
    </tr>
    <tr>
      <th>2001-08-01</th>
      <td>17.891548</td>
      <td>0.861913</td>
    </tr>
    <tr>
      <th>2001-09-01</th>
      <td>16.047514</td>
      <td>0.896933</td>
    </tr>
    <tr>
      <th>2001-10-01</th>
      <td>18.236523</td>
      <td>1.136408</td>
    </tr>
    <tr>
      <th>2001-11-01</th>
      <td>20.137011</td>
      <td>1.104213</td>
    </tr>
    <tr>
      <th>2001-12-01</th>
      <td>20.776779</td>
      <td>1.031771</td>
    </tr>
    <tr>
      <th>2002-01-01</th>
      <td>19.980204</td>
      <td>0.961660</td>
    </tr>
    <tr>
      <th>2002-02-01</th>
      <td>18.296104</td>
      <td>0.915712</td>
    </tr>
    <tr>
      <th>2002-03-01</th>
      <td>18.913925</td>
      <td>1.033768</td>
    </tr>
    <tr>
      <th>2002-04-01</th>
      <td>16.389347</td>
      <td>0.866523</td>
    </tr>
    <tr>
      <th>2002-05-01</th>
      <td>15.965980</td>
      <td>0.974168</td>
    </tr>
    <tr>
      <th>2002-06-01</th>
      <td>17.154568</td>
      <td>1.074445</td>
    </tr>
    <tr>
      <th>2002-07-01</th>
      <td>15.047098</td>
      <td>0.877148</td>
    </tr>
    <tr>
      <th>2002-08-01</th>
      <td>15.392068</td>
      <td>1.022926</td>
    </tr>
    <tr>
      <th>2002-09-01</th>
      <td>13.717383</td>
      <td>0.891198</td>
    </tr>
    <tr>
      <th>2002-10-01</th>
      <td>16.768820</td>
      <td>1.222450</td>
    </tr>
    <tr>
      <th>2002-11-01</th>
      <td>18.089123</td>
      <td>1.078736</td>
    </tr>
    <tr>
      <th>2002-12-01</th>
      <td>16.213730</td>
      <td>0.896325</td>
    </tr>
    <tr>
      <th>2003-01-01</th>
      <td>14.884015</td>
      <td>0.917988</td>
    </tr>
    <tr>
      <th>2003-02-01</th>
      <td>14.865199</td>
      <td>0.998736</td>
    </tr>
    <tr>
      <th>2003-02-18</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2003-02-19</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2003-03-01</th>
      <td>15.233907</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2003-04-01</th>
      <td>16.089685</td>
      <td>1.056176</td>
    </tr>
    <tr>
      <th>2003-05-01</th>
      <td>15.485601</td>
      <td>0.962455</td>
    </tr>
    <tr>
      <th>2003-06-01</th>
      <td>16.133722</td>
      <td>1.041853</td>
    </tr>
    <tr>
      <th>2003-07-01</th>
      <td>16.618233</td>
      <td>1.030031</td>
    </tr>
    <tr>
      <th>2003-08-01</th>
      <td>16.687454</td>
      <td>1.004165</td>
    </tr>
    <tr>
      <th>2003-09-01</th>
      <td>17.492884</td>
      <td>1.048266</td>
    </tr>
    <tr>
      <th>2003-10-01</th>
      <td>16.448338</td>
      <td>0.940287</td>
    </tr>
    <tr>
      <th>2003-10-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2003-11-01</th>
      <td>16.268530</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2003-12-01</th>
      <td>17.318930</td>
      <td>1.064566</td>
    </tr>
    <tr>
      <th>2004-01-01</th>
      <td>17.496101</td>
      <td>1.010230</td>
    </tr>
    <tr>
      <th>2004-02-01</th>
      <td>16.787401</td>
      <td>0.959494</td>
    </tr>
    <tr>
      <th>2004-03-01</th>
      <td>15.774968</td>
      <td>0.939691</td>
    </tr>
    <tr>
      <th>2004-04-01</th>
      <td>16.534285</td>
      <td>1.048134</td>
    </tr>
    <tr>
      <th>2004-05-01</th>
      <td>16.597574</td>
      <td>1.003828</td>
    </tr>
    <tr>
      <th>2004-06-01</th>
      <td>18.071926</td>
      <td>1.088829</td>
    </tr>
    <tr>
      <th>2004-07-01</th>
      <td>18.027636</td>
      <td>0.997549</td>
    </tr>
    <tr>
      <th>2004-08-01</th>
      <td>17.274630</td>
      <td>0.958230</td>
    </tr>
    <tr>
      <th>2004-08-23</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2004-09-01</th>
      <td>17.547712</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2004-10-01</th>
      <td>17.750797</td>
      <td>1.011573</td>
    </tr>
    <tr>
      <th>2004-11-01</th>
      <td>17.014620</td>
      <td>0.958527</td>
    </tr>
    <tr>
      <th>2004-11-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2004-12-01</th>
      <td>18.899822</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2005-01-01</th>
      <td>18.588604</td>
      <td>0.983533</td>
    </tr>
    <tr>
      <th>2005-02-01</th>
      <td>17.796394</td>
      <td>0.957382</td>
    </tr>
    <tr>
      <th>2005-02-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2005-03-01</th>
      <td>17.148888</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2005-04-01</th>
      <td>17.950630</td>
      <td>1.046752</td>
    </tr>
    <tr>
      <th>2005-05-01</th>
      <td>18.305386</td>
      <td>1.019763</td>
    </tr>
    <tr>
      <th>2005-05-16</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2005-06-01</th>
      <td>17.680161</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2005-07-01</th>
      <td>18.228218</td>
      <td>1.030998</td>
    </tr>
    <tr>
      <th>2005-08-01</th>
      <td>19.488029</td>
      <td>1.069113</td>
    </tr>
    <tr>
      <th>2005-08-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2005-09-01</th>
      <td>18.367952</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2005-10-01</th>
      <td>18.346537</td>
      <td>0.998834</td>
    </tr>
    <tr>
      <th>2005-11-01</th>
      <td>19.760008</td>
      <td>1.077043</td>
    </tr>
    <tr>
      <th>2005-11-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2005-12-01</th>
      <td>18.722502</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2006-01-01</th>
      <td>20.154432</td>
      <td>1.076482</td>
    </tr>
    <tr>
      <th>2006-02-01</th>
      <td>19.238001</td>
      <td>0.954530</td>
    </tr>
    <tr>
      <th>2006-02-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2006-03-01</th>
      <td>19.547438</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2006-04-01</th>
      <td>17.349163</td>
      <td>0.887542</td>
    </tr>
    <tr>
      <th>2006-05-01</th>
      <td>16.271572</td>
      <td>0.937888</td>
    </tr>
    <tr>
      <th>2006-05-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2006-06-01</th>
      <td>16.803802</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2006-07-01</th>
      <td>17.351910</td>
      <td>1.032618</td>
    </tr>
    <tr>
      <th>2006-08-01</th>
      <td>18.534660</td>
      <td>1.068163</td>
    </tr>
    <tr>
      <th>2006-08-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2006-09-01</th>
      <td>19.797268</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2006-10-01</th>
      <td>20.781700</td>
      <td>1.049726</td>
    </tr>
    <tr>
      <th>2006-11-01</th>
      <td>21.252207</td>
      <td>1.022640</td>
    </tr>
    <tr>
      <th>2006-11-14</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2006-12-01</th>
      <td>21.688026</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2007-01-01</th>
      <td>22.414345</td>
      <td>1.033489</td>
    </tr>
    <tr>
      <th>2007-02-01</th>
      <td>20.460541</td>
      <td>0.912832</td>
    </tr>
    <tr>
      <th>2007-02-13</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2007-03-01</th>
      <td>20.312826</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2007-04-01</th>
      <td>21.821535</td>
      <td>1.074274</td>
    </tr>
    <tr>
      <th>2007-05-01</th>
      <td>22.368158</td>
      <td>1.025050</td>
    </tr>
    <tr>
      <th>2007-05-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2007-06-01</th>
      <td>21.548552</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2007-07-01</th>
      <td>21.197565</td>
      <td>0.983712</td>
    </tr>
    <tr>
      <th>2007-08-01</th>
      <td>21.007465</td>
      <td>0.991032</td>
    </tr>
    <tr>
      <th>2007-08-14</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2007-09-01</th>
      <td>21.616745</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2007-10-01</th>
      <td>27.009932</td>
      <td>1.249491</td>
    </tr>
    <tr>
      <th>2007-11-01</th>
      <td>24.654545</td>
      <td>0.912796</td>
    </tr>
    <tr>
      <th>2007-11-13</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2007-12-01</th>
      <td>26.208441</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2008-01-01</th>
      <td>23.999861</td>
      <td>0.915730</td>
    </tr>
    <tr>
      <th>2008-02-01</th>
      <td>20.024424</td>
      <td>0.834356</td>
    </tr>
    <tr>
      <th>2008-02-19</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2008-03-01</th>
      <td>20.974304</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2008-04-01</th>
      <td>21.077778</td>
      <td>1.004933</td>
    </tr>
    <tr>
      <th>2008-05-01</th>
      <td>20.929964</td>
      <td>0.992987</td>
    </tr>
    <tr>
      <th>2008-05-13</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2008-06-01</th>
      <td>20.406189</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2008-07-01</th>
      <td>19.078405</td>
      <td>0.934932</td>
    </tr>
    <tr>
      <th>2008-08-01</th>
      <td>20.242990</td>
      <td>1.061042</td>
    </tr>
    <tr>
      <th>2008-08-19</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2008-09-01</th>
      <td>19.876894</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2008-10-01</th>
      <td>16.629856</td>
      <td>0.836643</td>
    </tr>
    <tr>
      <th>2008-11-01</th>
      <td>15.058475</td>
      <td>0.905508</td>
    </tr>
    <tr>
      <th>2008-11-18</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2008-12-01</th>
      <td>14.575662</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2009-01-01</th>
      <td>12.821182</td>
      <td>0.879630</td>
    </tr>
    <tr>
      <th>2009-02-01</th>
      <td>12.108895</td>
      <td>0.944445</td>
    </tr>
    <tr>
      <th>2009-02-17</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2009-03-01</th>
      <td>13.867838</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2009-04-01</th>
      <td>15.294628</td>
      <td>1.102885</td>
    </tr>
    <tr>
      <th>2009-05-01</th>
      <td>15.770231</td>
      <td>1.031096</td>
    </tr>
    <tr>
      <th>2009-05-19</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2009-06-01</th>
      <td>18.058348</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2009-07-01</th>
      <td>17.868418</td>
      <td>0.989482</td>
    </tr>
    <tr>
      <th>2009-08-01</th>
      <td>18.726894</td>
      <td>1.048044</td>
    </tr>
    <tr>
      <th>2009-08-18</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2009-09-01</th>
      <td>19.649651</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2009-10-01</th>
      <td>21.185261</td>
      <td>1.078149</td>
    </tr>
    <tr>
      <th>2009-11-01</th>
      <td>22.468756</td>
      <td>1.060584</td>
    </tr>
    <tr>
      <th>2009-11-17</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2009-12-01</th>
      <td>23.389154</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2010-01-01</th>
      <td>21.624224</td>
      <td>0.924541</td>
    </tr>
    <tr>
      <th>2010-02-01</th>
      <td>22.000229</td>
      <td>1.017388</td>
    </tr>
    <tr>
      <th>2010-02-16</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2010-03-01</th>
      <td>22.581089</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2010-04-01</th>
      <td>23.544781</td>
      <td>1.042677</td>
    </tr>
    <tr>
      <th>2010-05-01</th>
      <td>19.890486</td>
      <td>0.844794</td>
    </tr>
    <tr>
      <th>2010-05-18</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2010-06-01</th>
      <td>17.819580</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2010-07-01</th>
      <td>19.987982</td>
      <td>1.121686</td>
    </tr>
    <tr>
      <th>2010-08-01</th>
      <td>18.175823</td>
      <td>0.909338</td>
    </tr>
    <tr>
      <th>2010-08-17</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2010-09-01</th>
      <td>19.066910</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2010-10-01</th>
      <td>20.764166</td>
      <td>1.089016</td>
    </tr>
    <tr>
      <th>2010-11-01</th>
      <td>19.666393</td>
      <td>0.947131</td>
    </tr>
    <tr>
      <th>2010-11-16</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2010-12-01</th>
      <td>21.863096</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2011-01-01</th>
      <td>21.722094</td>
      <td>0.993551</td>
    </tr>
    <tr>
      <th>2011-02-01</th>
      <td>20.821253</td>
      <td>0.958529</td>
    </tr>
    <tr>
      <th>2011-02-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2011-03-01</th>
      <td>20.006624</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2011-04-01</th>
      <td>20.424250</td>
      <td>1.020874</td>
    </tr>
    <tr>
      <th>2011-05-01</th>
      <td>19.707199</td>
      <td>0.964892</td>
    </tr>
    <tr>
      <th>2011-05-17</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2011-06-01</th>
      <td>20.621580</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2011-07-01</th>
      <td>21.731970</td>
      <td>1.053846</td>
    </tr>
    <tr>
      <th>2011-08-01</th>
      <td>21.097460</td>
      <td>0.970803</td>
    </tr>
    <tr>
      <th>2011-08-16</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2011-09-01</th>
      <td>19.865795</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2011-10-01</th>
      <td>21.254570</td>
      <td>1.069908</td>
    </tr>
    <tr>
      <th>2011-11-01</th>
      <td>20.416510</td>
      <td>0.960570</td>
    </tr>
    <tr>
      <th>2011-11-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2011-12-01</th>
      <td>20.875832</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-01-01</th>
      <td>23.746662</td>
      <td>1.137519</td>
    </tr>
    <tr>
      <th>2012-02-01</th>
      <td>25.523838</td>
      <td>1.074839</td>
    </tr>
    <tr>
      <th>2012-02-14</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-03-01</th>
      <td>26.112782</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-04-01</th>
      <td>25.918520</td>
      <td>0.992561</td>
    </tr>
    <tr>
      <th>2012-05-01</th>
      <td>23.627785</td>
      <td>0.911618</td>
    </tr>
    <tr>
      <th>2012-05-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-06-01</th>
      <td>24.923483</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-07-01</th>
      <td>24.010952</td>
      <td>0.963387</td>
    </tr>
    <tr>
      <th>2012-08-01</th>
      <td>25.110872</td>
      <td>1.045809</td>
    </tr>
    <tr>
      <th>2012-08-14</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-09-01</th>
      <td>24.407864</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-10-01</th>
      <td>23.407270</td>
      <td>0.959005</td>
    </tr>
    <tr>
      <th>2012-11-01</th>
      <td>21.832567</td>
      <td>0.932726</td>
    </tr>
    <tr>
      <th>2012-11-13</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2012-12-01</th>
      <td>22.086393</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-01-01</th>
      <td>22.698294</td>
      <td>1.027705</td>
    </tr>
    <tr>
      <th>2013-02-01</th>
      <td>22.987707</td>
      <td>1.012750</td>
    </tr>
    <tr>
      <th>2013-02-19</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-03-01</th>
      <td>23.853365</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-04-01</th>
      <td>27.596863</td>
      <td>1.156938</td>
    </tr>
    <tr>
      <th>2013-05-01</th>
      <td>29.097609</td>
      <td>1.054381</td>
    </tr>
    <tr>
      <th>2013-05-14</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-06-01</th>
      <td>28.999390</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-07-01</th>
      <td>26.732500</td>
      <td>0.921830</td>
    </tr>
    <tr>
      <th>2013-08-01</th>
      <td>28.042259</td>
      <td>1.048995</td>
    </tr>
    <tr>
      <th>2013-08-13</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-09-01</th>
      <td>28.138397</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-10-01</th>
      <td>29.939320</td>
      <td>1.064002</td>
    </tr>
    <tr>
      <th>2013-11-01</th>
      <td>32.239101</td>
      <td>1.076815</td>
    </tr>
    <tr>
      <th>2013-11-19</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2013-12-01</th>
      <td>31.870220</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-01-01</th>
      <td>32.236530</td>
      <td>1.011494</td>
    </tr>
    <tr>
      <th>2014-02-01</th>
      <td>32.636948</td>
      <td>1.012421</td>
    </tr>
    <tr>
      <th>2014-02-18</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-03-01</th>
      <td>35.181931</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-04-01</th>
      <td>34.675533</td>
      <td>0.985606</td>
    </tr>
    <tr>
      <th>2014-05-01</th>
      <td>35.139019</td>
      <td>1.013366</td>
    </tr>
    <tr>
      <th>2014-05-13</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-06-01</th>
      <td>36.043827</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-07-01</th>
      <td>37.305786</td>
      <td>1.035012</td>
    </tr>
    <tr>
      <th>2014-08-01</th>
      <td>39.267895</td>
      <td>1.052595</td>
    </tr>
    <tr>
      <th>2014-08-19</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-09-01</th>
      <td>40.322029</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-10-01</th>
      <td>40.835171</td>
      <td>1.012726</td>
    </tr>
    <tr>
      <th>2014-11-01</th>
      <td>41.583172</td>
      <td>1.018318</td>
    </tr>
    <tr>
      <th>2014-11-18</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-12-01</th>
      <td>40.655113</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-01-01</th>
      <td>35.359886</td>
      <td>0.869752</td>
    </tr>
    <tr>
      <th>2015-02-01</th>
      <td>38.379475</td>
      <td>1.085396</td>
    </tr>
    <tr>
      <th>2015-02-17</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-03-01</th>
      <td>35.840702</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-04-01</th>
      <td>42.874870</td>
      <td>1.196262</td>
    </tr>
    <tr>
      <th>2015-05-01</th>
      <td>41.305847</td>
      <td>0.963405</td>
    </tr>
    <tr>
      <th>2015-05-19</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-06-01</th>
      <td>39.169983</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-07-01</th>
      <td>41.432335</td>
      <td>1.057757</td>
    </tr>
    <tr>
      <th>2015-08-01</th>
      <td>38.611034</td>
      <td>0.931906</td>
    </tr>
    <tr>
      <th>2015-08-18</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-09-01</th>
      <td>39.526516</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-10-01</th>
      <td>47.010281</td>
      <td>1.189335</td>
    </tr>
    <tr>
      <th>2015-11-01</th>
      <td>48.537411</td>
      <td>1.032485</td>
    </tr>
    <tr>
      <th>2015-11-17</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-12-01</th>
      <td>49.880520</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-01-01</th>
      <td>49.529884</td>
      <td>0.992970</td>
    </tr>
    <tr>
      <th>2016-02-01</th>
      <td>45.744789</td>
      <td>0.923580</td>
    </tr>
    <tr>
      <th>2016-02-16</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-03-01</th>
      <td>50.012272</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-04-01</th>
      <td>45.158646</td>
      <td>0.902951</td>
    </tr>
    <tr>
      <th>2016-05-01</th>
      <td>47.992954</td>
      <td>1.062763</td>
    </tr>
    <tr>
      <th>2016-05-17</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-06-01</th>
      <td>46.659927</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-07-01</th>
      <td>51.684284</td>
      <td>1.107680</td>
    </tr>
    <tr>
      <th>2016-08-01</th>
      <td>52.395538</td>
      <td>1.013762</td>
    </tr>
    <tr>
      <th>2016-08-16</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-09-01</th>
      <td>52.850540</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-10-01</th>
      <td>54.979259</td>
      <td>1.040278</td>
    </tr>
    <tr>
      <th>2016-11-01</th>
      <td>55.291229</td>
      <td>1.005674</td>
    </tr>
    <tr>
      <th>2016-11-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2016-12-01</th>
      <td>57.401379</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-01-01</th>
      <td>59.719971</td>
      <td>1.040393</td>
    </tr>
    <tr>
      <th>2017-02-01</th>
      <td>59.101067</td>
      <td>0.989637</td>
    </tr>
    <tr>
      <th>2017-02-14</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-03-01</th>
      <td>61.206524</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-04-01</th>
      <td>63.622814</td>
      <td>1.039478</td>
    </tr>
    <tr>
      <th>2017-05-01</th>
      <td>64.905289</td>
      <td>1.020157</td>
    </tr>
    <tr>
      <th>2017-05-16</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-06-01</th>
      <td>64.426811</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-07-01</th>
      <td>67.950500</td>
      <td>1.054693</td>
    </tr>
    <tr>
      <th>2017-08-01</th>
      <td>69.885262</td>
      <td>1.028473</td>
    </tr>
    <tr>
      <th>2017-08-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-09-01</th>
      <td>69.994507</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-10-01</th>
      <td>78.160057</td>
      <td>1.116660</td>
    </tr>
    <tr>
      <th>2017-11-01</th>
      <td>79.090324</td>
      <td>1.011902</td>
    </tr>
    <tr>
      <th>2017-11-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2017-12-01</th>
      <td>80.781326</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-01-01</th>
      <td>89.724480</td>
      <td>1.110708</td>
    </tr>
    <tr>
      <th>2018-02-01</th>
      <td>88.553474</td>
      <td>0.986949</td>
    </tr>
    <tr>
      <th>2018-02-14</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-03-01</th>
      <td>86.597412</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-04-01</th>
      <td>88.732231</td>
      <td>1.024652</td>
    </tr>
    <tr>
      <th>2018-05-01</th>
      <td>93.779884</td>
      <td>1.056886</td>
    </tr>
    <tr>
      <th>2018-05-16</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-06-01</th>
      <td>93.967178</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-07-01</th>
      <td>101.085487</td>
      <td>1.075753</td>
    </tr>
    <tr>
      <th>2018-08-01</th>
      <td>107.041214</td>
      <td>1.058918</td>
    </tr>
    <tr>
      <th>2018-08-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-09-01</th>
      <td>109.404556</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-10-01</th>
      <td>102.172791</td>
      <td>0.933899</td>
    </tr>
    <tr>
      <th>2018-11-01</th>
      <td>106.075645</td>
      <td>1.038199</td>
    </tr>
    <tr>
      <th>2018-11-14</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2018-12-01</th>
      <td>97.580025</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-01-01</th>
      <td>100.327682</td>
      <td>1.028158</td>
    </tr>
    <tr>
      <th>2019-02-01</th>
      <td>107.629135</td>
      <td>1.072776</td>
    </tr>
    <tr>
      <th>2019-02-20</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-03-01</th>
      <td>113.790863</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-04-01</th>
      <td>126.005463</td>
      <td>1.107343</td>
    </tr>
    <tr>
      <th>2019-05-01</th>
      <td>119.328926</td>
      <td>0.947014</td>
    </tr>
    <tr>
      <th>2019-05-15</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-06-01</th>
      <td>129.725708</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-07-01</th>
      <td>131.962708</td>
      <td>1.017244</td>
    </tr>
    <tr>
      <th>2019-08-01</th>
      <td>133.502426</td>
      <td>1.011668</td>
    </tr>
    <tr>
      <th>2019-08-14</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-09-01</th>
      <td>135.083771</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-10-01</th>
      <td>139.300568</td>
      <td>1.031216</td>
    </tr>
    <tr>
      <th>2019-11-01</th>
      <td>147.083221</td>
      <td>1.055870</td>
    </tr>
    <tr>
      <th>2019-11-20</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2019-12-01</th>
      <td>153.745239</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2020-01-01</th>
      <td>165.960983</td>
      <td>1.079454</td>
    </tr>
    <tr>
      <th>2020-02-01</th>
      <td>157.947144</td>
      <td>0.951713</td>
    </tr>
    <tr>
      <th>2020-02-19</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2020-03-01</th>
      <td>154.174942</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2020-04-01</th>
      <td>175.193008</td>
      <td>1.136326</td>
    </tr>
    <tr>
      <th>2020-05-01</th>
      <td>179.142456</td>
      <td>1.022543</td>
    </tr>
    <tr>
      <th>2020-05-20</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2020-06-01</th>
      <td>199.502426</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2020-07-01</th>
      <td>200.972855</td>
      <td>1.007370</td>
    </tr>
    <tr>
      <th>2020-08-01</th>
      <td>221.088821</td>
      <td>1.100093</td>
    </tr>
    <tr>
      <th>2020-08-19</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2020-09-01</th>
      <td>206.686569</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2020-10-01</th>
      <td>198.962708</td>
      <td>0.962630</td>
    </tr>
    <tr>
      <th>2020-11-01</th>
      <td>210.361755</td>
      <td>1.057292</td>
    </tr>
    <tr>
      <th>2020-11-18</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2020-12-01</th>
      <td>219.139343</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2021-01-01</th>
      <td>228.538635</td>
      <td>1.042892</td>
    </tr>
    <tr>
      <th>2021-02-01</th>
      <td>228.952438</td>
      <td>1.001811</td>
    </tr>
    <tr>
      <th>2021-02-17</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2021-03-01</th>
      <td>232.827454</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2021-04-01</th>
      <td>249.032623</td>
      <td>1.069602</td>
    </tr>
    <tr>
      <th>2021-05-01</th>
      <td>246.563843</td>
      <td>0.990087</td>
    </tr>
    <tr>
      <th>2021-05-19</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2021-06-01</th>
      <td>268.136719</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2021-07-01</th>
      <td>282.003815</td>
      <td>1.051717</td>
    </tr>
    <tr>
      <th>2021-08-01</th>
      <td>298.800720</td>
      <td>1.059563</td>
    </tr>
    <tr>
      <th>2021-08-18</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2021-09-01</th>
      <td>279.578522</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2021-10-01</th>
      <td>328.865723</td>
      <td>1.176291</td>
    </tr>
    <tr>
      <th>2021-11-01</th>
      <td>327.844269</td>
      <td>0.996894</td>
    </tr>
    <tr>
      <th>2021-11-17</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2021-12-01</th>
      <td>334.136902</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2022-01-01</th>
      <td>308.961365</td>
      <td>0.924655</td>
    </tr>
    <tr>
      <th>2022-02-01</th>
      <td>296.850525</td>
      <td>0.960801</td>
    </tr>
    <tr>
      <th>2022-02-16</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2022-03-01</th>
      <td>306.942047</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2022-04-01</th>
      <td>276.288666</td>
      <td>0.900133</td>
    </tr>
    <tr>
      <th>2022-05-01</th>
      <td>270.663757</td>
      <td>0.979641</td>
    </tr>
    <tr>
      <th>2022-05-18</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2022-06-01</th>
      <td>256.285980</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2022-07-01</th>
      <td>280.145355</td>
      <td>1.093097</td>
    </tr>
    <tr>
      <th>2022-08-01</th>
      <td>285.543884</td>
      <td>1.019270</td>
    </tr>
    <tr>
      <th>2022-08-17</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2022-08-19</th>
      <td>286.149994</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>