<a href="/">Hub</a>
            <a href="data1">Data 1</a>
            <a href="data2">Data 2 </a>50GOOG<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Close</th>
      <th>Returns</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2004-09-01</th>
      <td>3.227901</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2004-10-01</th>
      <td>4.748203</td>
      <td>1.470988</td>
    </tr>
    <tr>
      <th>2004-11-01</th>
      <td>4.532511</td>
      <td>0.954574</td>
    </tr>
    <tr>
      <th>2004-12-01</th>
      <td>4.801752</td>
      <td>1.059402</td>
    </tr>
    <tr>
      <th>2005-01-01</th>
      <td>4.872238</td>
      <td>1.014679</td>
    </tr>
    <tr>
      <th>2005-02-01</th>
      <td>4.682200</td>
      <td>0.960996</td>
    </tr>
    <tr>
      <th>2005-03-01</th>
      <td>4.495898</td>
      <td>0.960211</td>
    </tr>
    <tr>
      <th>2005-04-01</th>
      <td>5.479462</td>
      <td>1.218769</td>
    </tr>
    <tr>
      <th>2005-05-01</th>
      <td>6.905865</td>
      <td>1.260318</td>
    </tr>
    <tr>
      <th>2005-06-01</th>
      <td>7.326289</td>
      <td>1.060879</td>
    </tr>
    <tr>
      <th>2005-07-01</th>
      <td>7.167136</td>
      <td>0.978276</td>
    </tr>
    <tr>
      <th>2005-08-01</th>
      <td>7.123300</td>
      <td>0.993884</td>
    </tr>
    <tr>
      <th>2005-09-01</th>
      <td>7.881956</td>
      <td>1.106503</td>
    </tr>
    <tr>
      <th>2005-10-01</th>
      <td>9.268758</td>
      <td>1.175946</td>
    </tr>
    <tr>
      <th>2005-11-01</th>
      <td>10.084949</td>
      <td>1.088058</td>
    </tr>
    <tr>
      <th>2005-12-01</th>
      <td>10.332770</td>
      <td>1.024573</td>
    </tr>
    <tr>
      <th>2006-01-01</th>
      <td>10.776108</td>
      <td>1.042906</td>
    </tr>
    <tr>
      <th>2006-02-01</th>
      <td>9.031647</td>
      <td>0.838118</td>
    </tr>
    <tr>
      <th>2006-03-01</th>
      <td>9.713591</td>
      <td>1.075506</td>
    </tr>
    <tr>
      <th>2006-04-01</th>
      <td>10.409483</td>
      <td>1.071641</td>
    </tr>
    <tr>
      <th>2006-05-01</th>
      <td>9.260788</td>
      <td>0.889649</td>
    </tr>
    <tr>
      <th>2006-06-01</th>
      <td>10.444103</td>
      <td>1.127777</td>
    </tr>
    <tr>
      <th>2006-07-01</th>
      <td>9.628908</td>
      <td>0.921947</td>
    </tr>
    <tr>
      <th>2006-08-01</th>
      <td>9.427912</td>
      <td>0.979126</td>
    </tr>
    <tr>
      <th>2006-09-01</th>
      <td>10.009980</td>
      <td>1.061739</td>
    </tr>
    <tr>
      <th>2006-10-01</th>
      <td>11.865276</td>
      <td>1.185345</td>
    </tr>
    <tr>
      <th>2006-11-01</th>
      <td>12.074990</td>
      <td>1.017675</td>
    </tr>
    <tr>
      <th>2006-12-01</th>
      <td>11.469011</td>
      <td>0.949815</td>
    </tr>
    <tr>
      <th>2007-01-01</th>
      <td>12.490682</td>
      <td>1.089081</td>
    </tr>
    <tr>
      <th>2007-02-01</th>
      <td>11.194291</td>
      <td>0.896211</td>
    </tr>
    <tr>
      <th>2007-03-01</th>
      <td>11.411228</td>
      <td>1.019379</td>
    </tr>
    <tr>
      <th>2007-04-01</th>
      <td>11.740494</td>
      <td>1.028855</td>
    </tr>
    <tr>
      <th>2007-05-01</th>
      <td>12.401267</td>
      <td>1.056282</td>
    </tr>
    <tr>
      <th>2007-06-01</th>
      <td>13.018703</td>
      <td>1.049788</td>
    </tr>
    <tr>
      <th>2007-07-01</th>
      <td>12.702388</td>
      <td>0.975703</td>
    </tr>
    <tr>
      <th>2007-08-01</th>
      <td>12.833148</td>
      <td>1.010294</td>
    </tr>
    <tr>
      <th>2007-09-01</th>
      <td>14.128792</td>
      <td>1.100961</td>
    </tr>
    <tr>
      <th>2007-10-01</th>
      <td>17.608997</td>
      <td>1.246320</td>
    </tr>
    <tr>
      <th>2007-11-01</th>
      <td>17.260303</td>
      <td>0.980198</td>
    </tr>
    <tr>
      <th>2007-12-01</th>
      <td>17.222446</td>
      <td>0.997807</td>
    </tr>
    <tr>
      <th>2008-01-01</th>
      <td>14.054819</td>
      <td>0.816076</td>
    </tr>
    <tr>
      <th>2008-02-01</th>
      <td>11.735512</td>
      <td>0.834981</td>
    </tr>
    <tr>
      <th>2008-03-01</th>
      <td>10.970629</td>
      <td>0.934823</td>
    </tr>
    <tr>
      <th>2008-04-01</th>
      <td>14.303636</td>
      <td>1.303812</td>
    </tr>
    <tr>
      <th>2008-05-01</th>
      <td>14.590312</td>
      <td>1.020042</td>
    </tr>
    <tr>
      <th>2008-06-01</th>
      <td>13.111355</td>
      <td>0.898634</td>
    </tr>
    <tr>
      <th>2008-07-01</th>
      <td>11.799522</td>
      <td>0.899947</td>
    </tr>
    <tr>
      <th>2008-08-01</th>
      <td>11.538999</td>
      <td>0.977921</td>
    </tr>
    <tr>
      <th>2008-09-01</th>
      <td>9.975609</td>
      <td>0.864513</td>
    </tr>
    <tr>
      <th>2008-10-01</th>
      <td>8.950452</td>
      <td>0.897234</td>
    </tr>
    <tr>
      <th>2008-11-01</th>
      <td>7.296650</td>
      <td>0.815227</td>
    </tr>
    <tr>
      <th>2008-12-01</th>
      <td>7.662529</td>
      <td>1.050143</td>
    </tr>
    <tr>
      <th>2009-01-01</th>
      <td>8.431646</td>
      <td>1.100374</td>
    </tr>
    <tr>
      <th>2009-02-01</th>
      <td>8.418197</td>
      <td>0.998405</td>
    </tr>
    <tr>
      <th>2009-03-01</th>
      <td>8.669006</td>
      <td>1.029794</td>
    </tr>
    <tr>
      <th>2009-04-01</th>
      <td>9.862284</td>
      <td>1.137649</td>
    </tr>
    <tr>
      <th>2009-05-01</th>
      <td>10.391799</td>
      <td>1.053691</td>
    </tr>
    <tr>
      <th>2009-06-01</th>
      <td>10.500392</td>
      <td>1.010450</td>
    </tr>
    <tr>
      <th>2009-07-01</th>
      <td>11.034889</td>
      <td>1.050903</td>
    </tr>
    <tr>
      <th>2009-08-01</th>
      <td>11.498650</td>
      <td>1.042027</td>
    </tr>
    <tr>
      <th>2009-09-01</th>
      <td>12.349959</td>
      <td>1.074036</td>
    </tr>
    <tr>
      <th>2009-10-01</th>
      <td>13.352950</td>
      <td>1.081214</td>
    </tr>
    <tr>
      <th>2009-11-01</th>
      <td>14.520573</td>
      <td>1.087443</td>
    </tr>
    <tr>
      <th>2009-12-01</th>
      <td>15.441621</td>
      <td>1.063431</td>
    </tr>
    <tr>
      <th>2010-01-01</th>
      <td>13.199027</td>
      <td>0.854770</td>
    </tr>
    <tr>
      <th>2010-02-01</th>
      <td>13.120820</td>
      <td>0.994075</td>
    </tr>
    <tr>
      <th>2010-03-01</th>
      <td>14.125056</td>
      <td>1.076538</td>
    </tr>
    <tr>
      <th>2010-04-01</th>
      <td>13.093423</td>
      <td>0.926964</td>
    </tr>
    <tr>
      <th>2010-05-01</th>
      <td>12.095413</td>
      <td>0.923778</td>
    </tr>
    <tr>
      <th>2010-06-01</th>
      <td>11.082211</td>
      <td>0.916232</td>
    </tr>
    <tr>
      <th>2010-07-01</th>
      <td>12.075986</td>
      <td>1.089673</td>
    </tr>
    <tr>
      <th>2010-08-01</th>
      <td>11.208488</td>
      <td>0.928163</td>
    </tr>
    <tr>
      <th>2010-09-01</th>
      <td>13.095664</td>
      <td>1.168370</td>
    </tr>
    <tr>
      <th>2010-10-01</th>
      <td>15.285207</td>
      <td>1.167196</td>
    </tr>
    <tr>
      <th>2010-11-01</th>
      <td>13.840871</td>
      <td>0.905508</td>
    </tr>
    <tr>
      <th>2010-12-01</th>
      <td>14.793799</td>
      <td>1.068849</td>
    </tr>
    <tr>
      <th>2011-01-01</th>
      <td>14.952953</td>
      <td>1.010758</td>
    </tr>
    <tr>
      <th>2011-02-01</th>
      <td>15.277735</td>
      <td>1.021720</td>
    </tr>
    <tr>
      <th>2011-03-01</th>
      <td>14.614222</td>
      <td>0.956570</td>
    </tr>
    <tr>
      <th>2011-04-01</th>
      <td>13.551705</td>
      <td>0.927296</td>
    </tr>
    <tr>
      <th>2011-05-01</th>
      <td>13.176113</td>
      <td>0.972285</td>
    </tr>
    <tr>
      <th>2011-06-01</th>
      <td>12.612226</td>
      <td>0.957204</td>
    </tr>
    <tr>
      <th>2011-07-01</th>
      <td>15.035892</td>
      <td>1.192168</td>
    </tr>
    <tr>
      <th>2011-08-01</th>
      <td>13.473498</td>
      <td>0.896089</td>
    </tr>
    <tr>
      <th>2011-09-01</th>
      <td>12.827918</td>
      <td>0.952085</td>
    </tr>
    <tr>
      <th>2011-10-01</th>
      <td>14.760673</td>
      <td>1.150668</td>
    </tr>
    <tr>
      <th>2011-11-01</th>
      <td>14.928793</td>
      <td>1.011390</td>
    </tr>
    <tr>
      <th>2011-12-01</th>
      <td>16.087200</td>
      <td>1.077596</td>
    </tr>
    <tr>
      <th>2012-01-01</th>
      <td>14.448593</td>
      <td>0.898142</td>
    </tr>
    <tr>
      <th>2012-02-01</th>
      <td>15.398533</td>
      <td>1.065746</td>
    </tr>
    <tr>
      <th>2012-03-01</th>
      <td>15.971136</td>
      <td>1.037186</td>
    </tr>
    <tr>
      <th>2012-04-01</th>
      <td>15.064783</td>
      <td>0.943251</td>
    </tr>
    <tr>
      <th>2012-05-01</th>
      <td>14.467273</td>
      <td>0.960337</td>
    </tr>
    <tr>
      <th>2012-06-01</th>
      <td>14.447597</td>
      <td>0.998640</td>
    </tr>
    <tr>
      <th>2012-07-01</th>
      <td>15.765158</td>
      <td>1.091196</td>
    </tr>
    <tr>
      <th>2012-08-01</th>
      <td>17.063293</td>
      <td>1.082342</td>
    </tr>
    <tr>
      <th>2012-09-01</th>
      <td>18.792063</td>
      <td>1.101315</td>
    </tr>
    <tr>
      <th>2012-10-01</th>
      <td>16.943991</td>
      <td>0.901657</td>
    </tr>
    <tr>
      <th>2012-11-01</th>
      <td>17.394053</td>
      <td>1.026562</td>
    </tr>
    <tr>
      <th>2012-12-01</th>
      <td>17.618462</td>
      <td>1.012901</td>
    </tr>
    <tr>
      <th>2013-01-01</th>
      <td>18.821701</td>
      <td>1.068294</td>
    </tr>
    <tr>
      <th>2013-02-01</th>
      <td>19.955202</td>
      <td>1.060223</td>
    </tr>
    <tr>
      <th>2013-03-01</th>
      <td>19.780607</td>
      <td>0.991251</td>
    </tr>
    <tr>
      <th>2013-04-01</th>
      <td>20.537271</td>
      <td>1.038253</td>
    </tr>
    <tr>
      <th>2013-05-01</th>
      <td>21.699165</td>
      <td>1.056575</td>
    </tr>
    <tr>
      <th>2013-06-01</th>
      <td>21.927061</td>
      <td>1.010503</td>
    </tr>
    <tr>
      <th>2013-07-01</th>
      <td>22.110872</td>
      <td>1.008383</td>
    </tr>
    <tr>
      <th>2013-08-01</th>
      <td>21.093437</td>
      <td>0.953985</td>
    </tr>
    <tr>
      <th>2013-09-01</th>
      <td>21.815977</td>
      <td>1.034254</td>
    </tr>
    <tr>
      <th>2013-10-01</th>
      <td>25.668289</td>
      <td>1.176582</td>
    </tr>
    <tr>
      <th>2013-11-01</th>
      <td>26.390831</td>
      <td>1.028149</td>
    </tr>
    <tr>
      <th>2013-12-01</th>
      <td>27.913124</td>
      <td>1.057683</td>
    </tr>
    <tr>
      <th>2014-01-01</th>
      <td>29.414000</td>
      <td>1.053770</td>
    </tr>
    <tr>
      <th>2014-02-01</th>
      <td>30.277761</td>
      <td>1.029366</td>
    </tr>
    <tr>
      <th>2014-03-01</th>
      <td>27.772251</td>
      <td>0.917249</td>
    </tr>
    <tr>
      <th>2014-03-27</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-04-01</th>
      <td>26.260900</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2014-05-01</th>
      <td>27.917852</td>
      <td>1.063096</td>
    </tr>
    <tr>
      <th>2014-06-01</th>
      <td>28.685246</td>
      <td>1.027488</td>
    </tr>
    <tr>
      <th>2014-07-01</th>
      <td>28.501747</td>
      <td>0.993603</td>
    </tr>
    <tr>
      <th>2014-08-01</th>
      <td>28.501747</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>2014-09-01</th>
      <td>28.788960</td>
      <td>1.010077</td>
    </tr>
    <tr>
      <th>2014-10-01</th>
      <td>27.877462</td>
      <td>0.968339</td>
    </tr>
    <tr>
      <th>2014-11-01</th>
      <td>27.017324</td>
      <td>0.969146</td>
    </tr>
    <tr>
      <th>2014-12-01</th>
      <td>26.247936</td>
      <td>0.971522</td>
    </tr>
    <tr>
      <th>2015-01-01</th>
      <td>26.652824</td>
      <td>1.015426</td>
    </tr>
    <tr>
      <th>2015-02-01</th>
      <td>27.843555</td>
      <td>1.044676</td>
    </tr>
    <tr>
      <th>2015-03-01</th>
      <td>27.324980</td>
      <td>0.981375</td>
    </tr>
    <tr>
      <th>2015-04-01</th>
      <td>26.867001</td>
      <td>0.983240</td>
    </tr>
    <tr>
      <th>2015-04-27</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-05-01</th>
      <td>26.605499</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2015-06-01</th>
      <td>26.025499</td>
      <td>0.978200</td>
    </tr>
    <tr>
      <th>2015-07-01</th>
      <td>31.280500</td>
      <td>1.201917</td>
    </tr>
    <tr>
      <th>2015-08-01</th>
      <td>30.912500</td>
      <td>0.988235</td>
    </tr>
    <tr>
      <th>2015-09-01</th>
      <td>30.421000</td>
      <td>0.984100</td>
    </tr>
    <tr>
      <th>2015-10-01</th>
      <td>35.540501</td>
      <td>1.168288</td>
    </tr>
    <tr>
      <th>2015-11-01</th>
      <td>37.130001</td>
      <td>1.044724</td>
    </tr>
    <tr>
      <th>2015-12-01</th>
      <td>37.944000</td>
      <td>1.021923</td>
    </tr>
    <tr>
      <th>2016-01-01</th>
      <td>37.147499</td>
      <td>0.979009</td>
    </tr>
    <tr>
      <th>2016-02-01</th>
      <td>34.888500</td>
      <td>0.939188</td>
    </tr>
    <tr>
      <th>2016-03-01</th>
      <td>37.247501</td>
      <td>1.067615</td>
    </tr>
    <tr>
      <th>2016-04-01</th>
      <td>34.650501</td>
      <td>0.930277</td>
    </tr>
    <tr>
      <th>2016-05-01</th>
      <td>36.785999</td>
      <td>1.061630</td>
    </tr>
    <tr>
      <th>2016-06-01</th>
      <td>34.605000</td>
      <td>0.940711</td>
    </tr>
    <tr>
      <th>2016-07-01</th>
      <td>38.439499</td>
      <td>1.110808</td>
    </tr>
    <tr>
      <th>2016-08-01</th>
      <td>38.352501</td>
      <td>0.997737</td>
    </tr>
    <tr>
      <th>2016-09-01</th>
      <td>38.864498</td>
      <td>1.013350</td>
    </tr>
    <tr>
      <th>2016-10-01</th>
      <td>39.227001</td>
      <td>1.009327</td>
    </tr>
    <tr>
      <th>2016-11-01</th>
      <td>37.902000</td>
      <td>0.966222</td>
    </tr>
    <tr>
      <th>2016-12-01</th>
      <td>38.591000</td>
      <td>1.018178</td>
    </tr>
    <tr>
      <th>2017-01-01</th>
      <td>39.839500</td>
      <td>1.032352</td>
    </tr>
    <tr>
      <th>2017-02-01</th>
      <td>41.160500</td>
      <td>1.033158</td>
    </tr>
    <tr>
      <th>2017-03-01</th>
      <td>41.478001</td>
      <td>1.007714</td>
    </tr>
    <tr>
      <th>2017-04-01</th>
      <td>45.298000</td>
      <td>1.092097</td>
    </tr>
    <tr>
      <th>2017-05-01</th>
      <td>48.243000</td>
      <td>1.065014</td>
    </tr>
    <tr>
      <th>2017-06-01</th>
      <td>45.436501</td>
      <td>0.941826</td>
    </tr>
    <tr>
      <th>2017-07-01</th>
      <td>46.525002</td>
      <td>1.023957</td>
    </tr>
    <tr>
      <th>2017-08-01</th>
      <td>46.966499</td>
      <td>1.009489</td>
    </tr>
    <tr>
      <th>2017-09-01</th>
      <td>47.955502</td>
      <td>1.021058</td>
    </tr>
    <tr>
      <th>2017-10-01</th>
      <td>50.832001</td>
      <td>1.059983</td>
    </tr>
    <tr>
      <th>2017-11-01</th>
      <td>51.070499</td>
      <td>1.004692</td>
    </tr>
    <tr>
      <th>2017-12-01</th>
      <td>52.320000</td>
      <td>1.024466</td>
    </tr>
    <tr>
      <th>2018-01-01</th>
      <td>58.497002</td>
      <td>1.118062</td>
    </tr>
    <tr>
      <th>2018-02-01</th>
      <td>55.236500</td>
      <td>0.944262</td>
    </tr>
    <tr>
      <th>2018-03-01</th>
      <td>51.589500</td>
      <td>0.933975</td>
    </tr>
    <tr>
      <th>2018-04-01</th>
      <td>50.866501</td>
      <td>0.985986</td>
    </tr>
    <tr>
      <th>2018-05-01</th>
      <td>54.249500</td>
      <td>1.066507</td>
    </tr>
    <tr>
      <th>2018-06-01</th>
      <td>55.782501</td>
      <td>1.028258</td>
    </tr>
    <tr>
      <th>2018-07-01</th>
      <td>60.862999</td>
      <td>1.091077</td>
    </tr>
    <tr>
      <th>2018-08-01</th>
      <td>60.909500</td>
      <td>1.000764</td>
    </tr>
    <tr>
      <th>2018-09-01</th>
      <td>59.673500</td>
      <td>0.979708</td>
    </tr>
    <tr>
      <th>2018-10-01</th>
      <td>53.838501</td>
      <td>0.902218</td>
    </tr>
    <tr>
      <th>2018-11-01</th>
      <td>54.721500</td>
      <td>1.016401</td>
    </tr>
    <tr>
      <th>2018-12-01</th>
      <td>51.780499</td>
      <td>0.946255</td>
    </tr>
    <tr>
      <th>2019-01-01</th>
      <td>55.818501</td>
      <td>1.077983</td>
    </tr>
    <tr>
      <th>2019-02-01</th>
      <td>55.995998</td>
      <td>1.003180</td>
    </tr>
    <tr>
      <th>2019-03-01</th>
      <td>58.665501</td>
      <td>1.047673</td>
    </tr>
    <tr>
      <th>2019-04-01</th>
      <td>59.424000</td>
      <td>1.012929</td>
    </tr>
    <tr>
      <th>2019-05-01</th>
      <td>55.181499</td>
      <td>0.928606</td>
    </tr>
    <tr>
      <th>2019-06-01</th>
      <td>54.045502</td>
      <td>0.979413</td>
    </tr>
    <tr>
      <th>2019-07-01</th>
      <td>60.834000</td>
      <td>1.125607</td>
    </tr>
    <tr>
      <th>2019-08-01</th>
      <td>59.404999</td>
      <td>0.976510</td>
    </tr>
    <tr>
      <th>2019-09-01</th>
      <td>60.950001</td>
      <td>1.026008</td>
    </tr>
    <tr>
      <th>2019-10-01</th>
      <td>63.005501</td>
      <td>1.033724</td>
    </tr>
    <tr>
      <th>2019-11-01</th>
      <td>65.248001</td>
      <td>1.035592</td>
    </tr>
    <tr>
      <th>2019-12-01</th>
      <td>66.850998</td>
      <td>1.024568</td>
    </tr>
    <tr>
      <th>2020-01-01</th>
      <td>71.711502</td>
      <td>1.072707</td>
    </tr>
    <tr>
      <th>2020-02-01</th>
      <td>66.966499</td>
      <td>0.933832</td>
    </tr>
    <tr>
      <th>2020-03-01</th>
      <td>58.140499</td>
      <td>0.868203</td>
    </tr>
    <tr>
      <th>2020-04-01</th>
      <td>67.432999</td>
      <td>1.159828</td>
    </tr>
    <tr>
      <th>2020-05-01</th>
      <td>71.445999</td>
      <td>1.059511</td>
    </tr>
    <tr>
      <th>2020-06-01</th>
      <td>70.680496</td>
      <td>0.989286</td>
    </tr>
    <tr>
      <th>2020-07-01</th>
      <td>74.148003</td>
      <td>1.049059</td>
    </tr>
    <tr>
      <th>2020-08-01</th>
      <td>81.709000</td>
      <td>1.101972</td>
    </tr>
    <tr>
      <th>2020-09-01</th>
      <td>73.480003</td>
      <td>0.899289</td>
    </tr>
    <tr>
      <th>2020-10-01</th>
      <td>81.050499</td>
      <td>1.103028</td>
    </tr>
    <tr>
      <th>2020-11-01</th>
      <td>88.037003</td>
      <td>1.086199</td>
    </tr>
    <tr>
      <th>2020-12-01</th>
      <td>87.594002</td>
      <td>0.994968</td>
    </tr>
    <tr>
      <th>2021-01-01</th>
      <td>91.787003</td>
      <td>1.047869</td>
    </tr>
    <tr>
      <th>2021-02-01</th>
      <td>101.843002</td>
      <td>1.109558</td>
    </tr>
    <tr>
      <th>2021-03-01</th>
      <td>103.431503</td>
      <td>1.015598</td>
    </tr>
    <tr>
      <th>2021-04-01</th>
      <td>120.505997</td>
      <td>1.165080</td>
    </tr>
    <tr>
      <th>2021-05-01</th>
      <td>120.578003</td>
      <td>1.000598</td>
    </tr>
    <tr>
      <th>2021-06-01</th>
      <td>125.316002</td>
      <td>1.039294</td>
    </tr>
    <tr>
      <th>2021-07-01</th>
      <td>135.220993</td>
      <td>1.079040</td>
    </tr>
    <tr>
      <th>2021-08-01</th>
      <td>145.462006</td>
      <td>1.075735</td>
    </tr>
    <tr>
      <th>2021-09-01</th>
      <td>133.265503</td>
      <td>0.916153</td>
    </tr>
    <tr>
      <th>2021-10-01</th>
      <td>148.270493</td>
      <td>1.112595</td>
    </tr>
    <tr>
      <th>2021-11-01</th>
      <td>142.451996</td>
      <td>0.960758</td>
    </tr>
    <tr>
      <th>2021-12-01</th>
      <td>144.679504</td>
      <td>1.015637</td>
    </tr>
    <tr>
      <th>2022-01-01</th>
      <td>135.698502</td>
      <td>0.937925</td>
    </tr>
    <tr>
      <th>2022-02-01</th>
      <td>134.891006</td>
      <td>0.994049</td>
    </tr>
    <tr>
      <th>2022-03-01</th>
      <td>139.649506</td>
      <td>1.035277</td>
    </tr>
    <tr>
      <th>2022-04-01</th>
      <td>114.966499</td>
      <td>0.823250</td>
    </tr>
    <tr>
      <th>2022-05-01</th>
      <td>114.039001</td>
      <td>0.991932</td>
    </tr>
    <tr>
      <th>2022-06-01</th>
      <td>109.372498</td>
      <td>0.959080</td>
    </tr>
    <tr>
      <th>2022-07-01</th>
      <td>116.639999</td>
      <td>1.066447</td>
    </tr>
    <tr>
      <th>2022-07-18</th>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2022-08-01</th>
      <td>118.120003</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2022-08-19</th>
      <td>118.120003</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>